.content {
    color: gray;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 15px;
    background-color: white;
}